body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#sec-aboutus{
  width: 100vw;
  background: linear-gradient(to bottom, #EBF1F7, white);
  display: flex;
  font-family: Orbitron;
  height: 100vh;
  margin-bottom: 60px;

}
#sec-aboutus .box{
  position:relative;
  width: 50%;
  justify-content: center;
}

#sec-aboutus .box h1{
  font-size: 6vh;
}
#sec-aboutus .box p{
  font-size: 3vh;
}
#sec-aboutus .box img{
width: 100%;
height:100%;
}

.intro-text{
  margin: 0 auto;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 60%;
  height:auto ;
  padding-top: 150px;
  padding-bottom: 50px;
}


footer {
  color: black;
  padding: 10px;
  text-align: center;
  height: 50vh;
  background: linear-gradient(to bottom, #EBF1F7, white);
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
  #sec-aboutus .box{
    width: 100vw;
    height: auto;
  }
  #sec-aboutus{
    display: block;
    height: auto;
  }
  #sec-aboutus .box h1{
    font-size: 6vh;
  }
  .intro-text{
    width: 70%;
    text-align: left;
    margin-left:50px;
    padding-top: 0;
  }
  

}


