*{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding:0 5px 0 5px;
  overflow-x: hidden ;
}
a{
text-decoration:none;
}
#sec-aboutus{
  display: flex;
  background-image: url(BACKGORUND.png);
  background-size: cover;
  font-family: Orbitron;
  color: white;
  margin-bottom: 30px;
  border-radius: 25px;
}
#sec-aboutus .box{
  position:relative;
  justify-content: center;
  width: 100%;
}


#sec-aboutus .box p{
  font-size: 2vh;
}
#sec-aboutus .box img{
width: 100%;
height:100%;
}

.intro-text{
  margin: 0 auto;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 60%;
}


footer {
  color: black;
  padding: 10px;
  background: white;
  text-align: center;
  border-radius: 25px ;
  border-top: solid black 1px;
  margin-top: 20px;
  height: 20vh;
}

@media only screen and (max-width: 800px) {
  #sec-aboutus .box{
    width: 100vw;
    height: auto;
  }
  #sec-aboutus{
    display: block;
    height: auto;
  }
#sec-aboutus .box h1{
  font-size: 4.5vh;
}
  .intro-text{
    width: 80%;
    text-align: left;
    margin-left:20px;
    padding-top: 0;
  }

}
